<h1>Ideer</h1>
<div id="tag_cloud">
<h2>Kategorier</h2>
  <% tag_cloud Idea.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <br/>
  <% end %>
</div>
<hr>
<p class="well">
Nedenfor er listen af ideer, klik på titlen for at læse mere
<table class="table table-hover">
  <tr>
    <th>Titel</th>
    
    <th>kategori</th>
    <th hidden></th>

    <th hidden></th>
  </tr>

<% @ideas.each do |idea| %>
  <tr>
    <td><strong><%= link_to idea.titel, idea %></strong></td>
   
    <td>
      <%= raw idea.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
    </td>
    
    <td hidden><%= link_to 'Redigér', edit_idea_path(idea) %></td>
    <td hidden><%= link_to 'Slet', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</p>
<br />

<%= link_to 'Ny ide', new_idea_path %>
