<p id="notice"><%= notice %></p>

<p>
  <b>Titel:</b>
  <%= @idea.titel %>
</p>

<p>
  <b>Beskrivelse:</b>
  <%= @idea.description %>
</p>

<p>
  <b>Baggrund:</b>
  <%= @idea.background %>
</p>


<%= link_to 'Redigér', edit_idea_path(@idea) %> |
<%= link_to 'Tilbage', ideas_path %>
